.auth-container {
  padding: 60px;
  width: clamp(25vw, 50vw, 500px);
}
.custom-floating-group {
  position: relative;
  display: flex;
  border: solid var(--brc-gray) 1px;
}
.custom-floating-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.custom-floating-input {
  font-size: var(--fs-sm);
  outline: none;
}
.custom-floating-group:focus-within {
  border-color: var(--color-default);
}
.custom-floating-group input:focus ~ label,
.custom-floating-group input:valid ~ label {
  top: 0;
  font-size: var(--fs-xs) !important;
  color: var(--brc-gray) !important;
}
@media only screen and (max-width: 575px) {
  .auth-container {
    width: 100%;
    align-self: stretch;
  }
}
@media only screen and (min-width: 576px) {
  .auth-container {
    border-radius: 1rem;
    box-shadow: -40px 40px 40px -5px rgba(80, 82, 109, 1);
  }
}
