.default-page > * {
  padding: 0% clamp(5%, 10vw, 20%) !important;
}
#home {
  min-height: 100vh;
}
#product {
  min-height: 50vh;
}
#about {
  min-height: 30vh;
}

#home,
#product,
#about {
  margin-top: clamp(20px, 10vh, 50px);
}
.home-img {
  width: clamp(250px, 25vw, 650px);
  height: clamp(270px, 25vw, 600px);
  box-shadow: -40px 40px 40px -5px rgba(80, 82, 109, 1);
}
label::after {
  background-color: transparent !important;
}
@media only screen and (max-width: 720px) {
  .home-img {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .default-page > * {
    padding: 0% clamp(5%, 20vw, 20%);
  }
}
.navi {
  background-color: #212529;
}
