.dashboard-wrapper {
  width: 100vw;
  height: 100vh;
}
@media only screen and (max-width: 767px) {
  .sections-container {
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  .sections-container {
    width: min(30vw, 300px);
  }
}
@media only screen and (min-width: 1980px) {
  .dashboard-container {
    width: 70%;
    height: 70%;
    border-radius: 0.375rem;
  }
}
