.default-page {
  min-height: 100vh;
}
.default-page > #nav-bar,
#home,
#product,
#about {
  padding: 0% clamp(5%, 10vw, 20%) !important;
}

@media only screen and (min-width: 1500px) {
  .default-page > #nav-bar,
  #home,
  #product,
  #about {
    padding: 0% clamp(5%, 20vw, 20%);
  }
}
