.avatar-img {
  height: 48px;
  width: 48px;
}
.avatar-img-sm {
  height: 30px;
  width: 30px;
}
.status-bar {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0px;
  right: 8px;
  border: solid 2px var(--bg-my-dark);
}

@media only screen and (max-width: 768px) {
  .avatar-img {
    height: 40px;
    width: 40px;
  }
}
