.friends-list-item {
  position: relative;
  box-shadow: var(--bx-sm);
  overflow: hidden;
  height: 100px;
}
.friends-list-item:hover {
  box-shadow: var(--bx-m);
}
.friends-list-item:focus,
.friends-list-item:focus-within {
  transform: scaleX(0.98);
}
.color-bar {
  position: relative;
}
.color-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-default);
  transition: transform 0.2s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.friends-list-item:hover .color-bar::before,
.friends-list-item:focus .color-bar::before,
.friends-list-item:focus-within .color-bar::before {
  transform: scaleX(1);
}

@media only screen and (max-width: 1199px) {
  .new-friends-list {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .new-friends-list {
    width: 75%;
  }
}
@media only screen and (min-width: 576px) {
  .friends-list-item:hover {
    transform: scaleX(0.98);
  }
}
@media only screen and (max-width: 576px) {
  .friends-list-item {
    height: 140px;
  }
}
