.side-bar-link:hover i,
.side-bar-link.side-bar-link-active {
  color: var(--color-default) !important;
}
.side-bar-link {
  position: relative;
  display: flex;
  align-items: center;
}
.side-bar-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--color-default);
  transition: width 0.2s ease-in-out;
  z-index: 1;
}
.side-bar-link:hover::after,
.side-bar-link.side-bar-link-active::after {
  width: 4px;
}
.icon-badge {
  width: 15px;
  height: 15px;
  top: 0px;
  right: -15px;
}
@media only screen and (min-width: 576px) {
  .side-bar-container {
    padding: 0px clamp(10px, 2vw, 50px) !important;
  }
}
