:root {
  /* font size */
  --fs-xs: clamp(12px, 1vw, 14px);
  --fs-sm: clamp(14px, 2vw, 16px);
  --fs-m: clamp(16px, 2vw, 20px);
  --fs-l: clamp(20px, 2vw, 26px);
  --fs-xl: clamp(22px, 2vw, 34px);
  --fs-xxl: clamp(24px, 3vw, 51px);
  /* font color */
  --fc-dark: #212529 !important;
  --fc-gray: #9fa6b2 !important ;
  --fc-green-default: rgb(89, 179, 149) !important;
  /* background color */
  --color-default: rgb(89, 179, 149) !important;
  /* border colors */
  --brc-gray: rgba(128, 128, 128, 0.486) !important;
  --brc-default: rgb(89, 179, 149) !important;
  /* box-shadow */
  --bx-sm: 4px 4px 12px 0px rgba(214, 214, 214, 1) !important;
  --bx-m: 10px 10px 24px 0px rgba(214, 214, 214, 1) !important;
  /* transition time */
  --tr-02: 0.2s ease-in-out !important;
}
ul {
  padding: 0px !important;
  margin: 0px !important;
  list-style: none;
}
li {
  padding: 0px;
  margin: 0px;
}
.my-overflow-x-hidden {
  overflow-x: hidden !important;
}
/* transition time */
.tr-02 {
  transition: var(--tr-02) !important;
}
/* font size */
.fs-xs {
  font-size: var(--fs-xs) !important;
}
.fs-sm {
  font-size: var(--fs-sm) !important;
}
.fs-m {
  font-size: var(--fs-m) !important;
}
.fs-l {
  font-size: var(--fs-l) !important;
}
.fs-xl {
  font-size: var(--fs-xl) !important;
}
.fs-xxl {
  font-size: var(--fs-xxl) !important;
}
/* background */
.bg-default {
  background-color: var(--color-default) !important;
}
/* font color */
.fc-green-default {
  color: var(--fc-green-default);
}
/* border */
.b-1 {
  border: solid 1px !important;
}
.b-gray {
  border-color: var(--brc-gray) !important;
}
.b-default {
  border-color: var(--brc-default) !important;
}
/* lists */
.li-hover-dark:hover {
  filter: opacity(0.5);
  background-color: rgba(255, 255, 255, 0.178);
}
/* imgs */
.avatar-img {
  height: 90px;
  width: 90px;
}
.avatar-img-sm {
  height: 58px;
  width: 58px;
}
/* flex */
.flex-wrap {
  flex-wrap: wrap;
}
/* width */
@media only screen and (max-width: 576px) {
  .w-sm-auto {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .w-sm-auto {
    width: auto;
  }
}
